<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Files</title>
    <script type="text/javascript" src="{{ url_for('static', filename='js/modal.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/logs.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <h1>Files & Logs</h1>

    <div class="container">
        <!-- Left side: Files -->
        <div class="files">
            <form method="POST">
                <div id="buttons">
                    <button type="button" id="process_button" class="green">Process</button>
                    <button type="submit" name="delete" value="delete" class="red">Delete</button>
                </div>
                <div class="file">
                    {% for file in files %}
                    <label>
                        <input type="checkbox" name="selected_files" class="unselectable-text" value="{{file}}">
                        <span class="unselectable-text">{{file}}</span>
                    </label><br>
                    {% endfor %}
                    </div>
                

                <!-- Modal -->
                <div id="myModal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        {% for script in scripts %}
                        <label>
                            <input type="radio" name="selected_script" value="{{script}}">
                            {{script}}
                        </label><br>
                        {% endfor %}
                        <button type="submit" name="process" value="process">Run</button>
                    </div>
                </div>
            </form>
        </div>

        <!-- Right side: Logs -->
        <div class="logs" id="log_box">Loading logs...</div>
    </div>
</body>

</html>